
* {
  box-sizing: border-box;
}

a, img {
  display: block;
  text-decoration: none;
  color: black;
}

img.ad {
  width: 100%;
  border-bottom: 1px solid #000;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.content {
  font-family: Arial, sans-serif;
  padding: 0px;
}

.portal-logo {
  float: right;
}

.wrapper {
  border: 1px solid #000;
  overflow: hidden;
  clear: both;
}

.col {
  float: left;
}

.col-1 {
  width: 64%;
  border-right: 1px solid #000;
}

.col-2 {
  width: 36%;
}

.inner {
  padding: 3%;
}

.btn {
  width: 50%;
  float: left;
  background: #009dcd;
  height: 62px;
}

.btn-action {
   /* fallback */
  background-color: #f9f9f9;

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5d5d5), to(#f9f9f9));
  background: -webkit-linear-gradient(top, #f9f9f9, #d5d5d5);
  background: -moz-linear-gradient(top, #f9f9f9, #d5d5d5);
  background: -ms-linear-gradient(top, #f9f9f9, #d5d5d5);
  background: -o-linear-gradient(top, #f9f9f9, #d5d5d5);

  border-right: 1px solid #000;
  position: relative;
}

.btn a {
  padding: 22px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}

.btn-ad {
  background-color: #f9f9f9;

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3ca3ce), to(#60c8f3));
  background: -webkit-linear-gradient(top, #3ca3ce, #42BEF1);
  background: -moz-linear-gradient(top, #3ca3ce, #42BEF1);
  background: -ms-linear-gradient(top, #3ca3ce, #42BEF1);
  background: -o-linear-gradient(top, #3ca3ce, #42BEF1);
}

.btn-ad a {
  background: url(img/arrow-white.png) no-repeat right center;
  background-origin: content-box;
  padding-right: 28px;
  text-shadow: 0 -1px 0 #000000;
}

#btn-action {
  background: url(img/btn-action.png) no-repeat center 8px;
  padding-top: 9999px;
}

.logo {
  float: right;
  clear: both;
}

/* Col 2*/

.prices div {
  width: 60%;
  float: left;
  border: none;
  box-sizing: border-box;
}

.discount {
  background: url(img/discount-ribbon.png) no-repeat center top;
  color: #ffffff;
  font-size: 1.2em;
  line-height: 3.1em;
  text-shadow: 0 -1px 0 #000000;
  text-align: center;

  height: 74px;
  width: 64px !important;
  position: absolute;
  right: 0px;

  margin-right: 20px;
  margin-top: -5px;
}

.before {
  color: #6a6b6b;
  font-size: 14px;
}

.now {
  color: #29a3d7;
  font-size: 1.2em;
}

.price {
  font-weight: bold;
}

h2.title {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
}

#overlay {
  background-color: #000000;
  opacity: .5;
  position: absolute;
  z-index: 10;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: none;
}

.bubble-actions {
  background-color: #f9f9f9;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5d5d5), to(#f9f9f9));
  background: -webkit-linear-gradient(top, #f9f9f9, #d5d5d5);
  background: -moz-linear-gradient(top, #f9f9f9, #d5d5d5);
  background: -ms-linear-gradient(top, #f9f9f9, #d5d5d5);
  background: -o-linear-gradient(top, #f9f9f9, #d5d5d5);
 
  position: absolute;
  z-index: 20;
  bottom: 50px;
  background-color: #e2e2e2;
  border-radius: 1px;
  border: solid 1px #000000;
  left: 48px;
  width:  268px;

  display: none;
}

.bubble-actions::before {
  content: "\00a0";
  display: block;
  height: 13px;
  width: 30px;
  left: 60px;
  position: absolute;
  bottom: -12px;
  background: url(img/bubble-arrow.png) no-repeat;
}

ul.actions {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul.actions li {
  list-style: none;
  border-top: solid 1px #000000;
}

ul.actions li:first-child {
  border-top: none;
}

ul.actions li a {
  line-height: 76px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  color: #29a3d7;
  text-shadow: 0 1px 0 #ffffff;
  height: 135px;
  padding: 30px;
  padding-left: 100px;
}

ul.actions li a.passbook {
  background: url(img/icon-passbook.png) no-repeat 30px center;
}